<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Music</title>
</head>

<body>
    <form action="/add_music" method="post">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Music Title</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" name="title"
                placeholder="music title">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Music Artist</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" name="artist"
                placeholder="music artist">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Music Image</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" name="album_image"
                placeholder="music image link">
        </div>
        <input type="submit" value="Add music" />
    </form>
</body>

</html>